hr
footer(class=footer)
	.container
		div(class=ClassfooterWrapper)
			div(class=ClassfooterInner)
				div(class='intro-section__intro')
					div(class='intro-section__text')
						p(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
							|	Запись на приём к доктору происходит по номеру телефона, 
							b звоните.
							|
							a(href='tel:+78129050707')
								b +7 (812) 905 07 07
						p(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
							b Часы работы клиники:
							|	с 10-20 часов ежедневно
						p(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
							b Часы работы Доктора Аверьяновой: 
							| понедельник с 15-00 до 19-00 и пятница с 10-00 до 19-00
						p(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
							b Приём врача осуществляется по адресу: 
							| г.Санкт-Петербург, ул. Парадная д. 4